################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeknologiProject/.vs/CopilotSnapshots/78E62A7AEF90D14992F3EC5BC59586A5
